/*body {

}*/

header {
    background: black;
    /*width: 100%;*/
    height: 150px;
}

#header-box {
	/*position: relative;*/
	max-width: 960px;
    width: 100%;
	margin: 0 auto;
}

#logo {
    float: left;
    height: 150px;
}

#header-image {
    height: 150px;
}

nav {
    float: right;
    color: #BAABB5;
    text-align: bottom;
}

a {
    color: #BAABB5;
}

#container {
    background-image: url("../images/bowling-alley.jpg");
    /*background-repeat: repeat-x;*/
    margin: 0 auto;
    height: 523px;
    /*height: 100%;*/
    width: 100%;
    /*max-width: 960px;*/
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    clear: both;
    background: black;
    color: #BAABB5;
    padding-top: 15px;
    width: 100%;
    height: 90px;
}